In [26]:
import pandas as pd
input_file_path='./historical_data/INDEX_US_S&P US_SPX_'
# result = pd.concat([df1, df2], axis=1)
temp=[]
cols= ['Open','High','Low','Close']
for i in range(5):
    df = pd.read_csv(input_file_path+f"{i}.csv")
    for val in cols:
        df[val] = [float(x.replace(',','')) for x in df[val]]
    temp.append(df)
result = pd.concat(temp,axis=0)
print(result)
result.to_csv("./historical_data/S&P500_all.csv", index=False)

           Date     Open     High      Low    Close
0    04/28/2023  4129.63  4170.06  4127.18  4169.48
1    04/27/2023  4075.29  4138.24  4075.29  4135.35
2    04/26/2023  4087.78  4089.67  4049.35  4055.99
3    04/25/2023  4126.43  4126.43  4071.38  4071.63
4    04/24/2023  4132.07  4142.41  4117.77  4137.04
..          ...      ...      ...      ...      ...
245  05/04/2018  2621.45  2670.93  2615.32  2663.42
246  05/03/2018  2628.08  2637.14  2594.62  2629.73
247  05/02/2018  2654.24  2660.87  2631.70  2635.67
248  05/01/2018  2643.64  2655.27  2625.41  2654.80
249  04/30/2018  2675.05  2682.92  2648.04  2648.05

[1262 rows x 5 columns]

In [7]:
print(temp)

[     04/28/2023  4,129.63  4,170.06  4,127.18  4,169.48
0    04/27/2023  4,075.29  4,138.24  4,075.29  4,135.35
1    04/26/2023  4,087.78  4,089.67  4,049.35  4,055.99
2    04/25/2023  4,126.43  4,126.43  4,071.38  4,071.63
3    04/24/2023  4,132.07  4,142.41  4,117.77  4,137.04
4    04/21/2023  4,132.14  4,138.02  4,113.86  4,133.52
..          ...       ...       ...       ...       ...
246  05/04/2022  4,181.18  4,307.66  4,148.91  4,300.17
247  05/03/2022  4,159.78  4,200.10  4,147.08  4,175.48
248  05/02/2022  4,130.61  4,169.81  4,062.51  4,155.38
249  04/29/2022  4,253.75  4,269.68  4,124.28  4,131.93
250  04/28/2022  4,222.58  4,308.45  4,188.63  4,287.50

[251 rows x 5 columns],      04/28/2022  4,222.58  4,308.45  4,188.63  4,287.50
0    04/27/2022  4,186.52  4,240.71  4,162.90  4,183.96
1    04/26/2022  4,278.14  4,278.14  4,175.04  4,175.20
2    04/25/2022  4,255.34  4,299.02  4,200.82  4,296.12
3    04/22/2022  4,385.83  4,385.83  4,267.62  4,271.78
4    04/21/2022  4,489.17  4,512.94  4,384.47  4,393.66
..          ...       ...       ...       ...       ...
248  05/04/2021  4,179.04  4,179.04  4,128.59  4,164.66
249  05/03/2021  4,191.98  4,209.39  4,188.03  4,192.66
250  04/30/2021  4,198.10  4,198.10  4,174.85  4,181.17
251  04/29/2021  4,206.14  4,218.78  4,176.81  4,211.47
252  04/28/2021  4,185.14  4,201.53  4,181.78  4,183.18

[253 rows x 5 columns],      04/28/2021  4,185.14  4,201.53  4,181.78  4,183.18
0    04/27/2021  4,188.25  4,193.35  4,176.22  4,186.72
1    04/26/2021  4,185.03  4,194.19  4,182.36  4,187.62
2    04/23/2021  4,138.78  4,194.17  4,138.78  4,180.17
3    04/22/2021  4,170.46  4,179.57  4,123.69  4,134.98
4    04/21/2021  4,128.42  4,175.02  4,126.35  4,173.42
..          ...       ...       ...       ...       ...
247  05/04/2020  2,815.01  2,844.24  2,797.85  2,842.74
248  05/01/2020  2,869.09  2,869.09  2,821.61  2,830.71
249  04/30/2020  2,930.91  2,930.91  2,892.47  2,912.43
250  04/29/2020  2,918.46  2,954.86  2,912.16  2,939.51
251  04/28/2020  2,909.96  2,921.15  2,860.71  2,863.39

[252 rows x 5 columns],      04/28/2020  2,909.96  2,921.15  2,860.71  2,863.39
0    04/27/2020  2,854.65  2,887.72  2,852.89  2,878.48
1    04/24/2020  2,812.64  2,842.71  2,791.76  2,836.74
2    04/23/2020  2,810.42  2,844.90  2,794.26  2,797.80
3    04/22/2020  2,787.89  2,815.10  2,775.95  2,799.31
4    04/21/2020  2,784.81  2,785.54  2,727.10  2,736.56
..          ...       ...       ...       ...       ...
247  05/03/2019  2,929.21  2,947.85  2,929.21  2,945.64
248  05/02/2019  2,922.16  2,931.68  2,900.50  2,917.52
249  05/01/2019  2,952.33  2,954.13  2,923.36  2,923.73
250  04/30/2019  2,937.14  2,948.22  2,924.11  2,945.83
251  04/29/2019  2,940.58  2,949.52  2,939.35  2,943.03

[252 rows x 5 columns],      04/26/2019  2,925.81  2,939.88  2,917.56 2,939.88.1
0    04/25/2019  2,928.99  2,933.10  2,912.84   2,926.17
1    04/24/2019  2,934.00  2,936.83  2,926.05   2,927.25
2    04/23/2019  2,909.99  2,936.31  2,908.53   2,933.68
3    04/22/2019  2,898.78  2,909.51  2,896.35   2,907.97
4    04/18/2019  2,904.81  2,908.40  2,891.90   2,905.03
..          ...       ...       ...       ...        ...
244  05/04/2018  2,621.45  2,670.93  2,615.32   2,663.42
245  05/03/2018  2,628.08  2,637.14  2,594.62   2,629.73
246  05/02/2018  2,654.24  2,660.87  2,631.70   2,635.67
247  05/01/2018  2,643.64  2,655.27  2,625.41   2,654.80
248  04/30/2018  2,675.05  2,682.92  2,648.04   2,648.05

[249 rows x 5 columns]]

In [2]:
import os

cwd = os.getcwd()
print(cwd)

/Users/pratyushpradhan/Developer/Personal/Projects/Crypto/CryptoDataProcessingAndML/Version2

In [5]:
import pandas as pd
df = pd.read_csv(input_file_path)
print(df)

           Date      Open      High       Low     Close
0    04/28/2023  4,129.63  4,170.06  4,127.18  4,169.48
1    04/27/2023  4,075.29  4,138.24  4,075.29  4,135.35
2    04/26/2023  4,087.78  4,089.67  4,049.35  4,055.99
3    04/25/2023  4,126.43  4,126.43  4,071.38  4,071.63
4    04/24/2023  4,132.07  4,142.41  4,117.77  4,137.04
..          ...       ...       ...       ...       ...
247  05/04/2022  4,181.18  4,307.66  4,148.91  4,300.17
248  05/03/2022  4,159.78  4,200.10  4,147.08  4,175.48
249  05/02/2022  4,130.61  4,169.81  4,062.51  4,155.38
250  04/29/2022  4,253.75  4,269.68  4,124.28  4,131.93
251  04/28/2022  4,222.58  4,308.45  4,188.63  4,287.50

[252 rows x 5 columns]